*.[oa]
*~
null

compile/*.[oa]
file_io/*.[oa]
GRP_fix/*.[oa]
GRP_HWENO_fix/*.[oa]
FD_WENO/*.[oa]
Riemann_solver/*.[oa]
reconstruction/*.[oa]
mesh_redistribution/*.[oa]
compile/*~
file_io/*~
GRP_fix/*~
GRP_HWENO_fix/*~
FD_WENO/*~
Riemann_solver/*~
reconstruction/*~
mesh_redistribution/*~
data/
*.backup
MainEngine
driverList